<!DOCTYPE html>
<html>
    <head>
      <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    </head>
    <body>
      <h1>Solicitud de nuevo Bot</h1>
      <p>
        Datos de usuario:<br/><br/>
        Nombre: <%= @user.name %><br/>
        Email: <%= @user.email %><br/>
      </p>
    </body>
</html>