# encoding: UTF-8

		<!-- Pagina -->
			
			<div id="description" class="limited">
				<img class="adornotop" src="/images/adorno.png"  />
				<img class="adornoright" src="/images/adorno.png"  />
				<img class="adornobottom" src="/images/adorno.png" />
				<h1>Follow Keywords</h1>
				<p class="about">FollowKeywords es un software de Social Media que aumenta tus followers y engagement en Twitter mediante el uso de palabras claves con mensajes automáticos que relacionan tu marca con tus usuarios.</p>
				
				<img class="pet" src="/images/follower.png"/>
			</div>