# encoding: UTF-8

		<!-- Pagina -->
			
			<h1 class="limited principal">"Incrementa tus followers y genera engagement a través de palabras claves en Twitter."</h1>
			
			<div class="limited">
			<div id="video_container">
				<img src="/images/FOLLOW INFOGRAFIA-01.png" />
			</div>		
			</div>
			
			<div id="try-now">
				<div class="limited">
				"Empieza hoy día GRATUITAMENTE." <br/><br/>
				<%= link_to "Try Now", pricing_path, title: "Try Now" %>
				</div>
			</div>
			
			<div id="description" class="limited">
				<img class="adornotop" src="/images/adorno.png"  />
				<img class="adornoright" src="/images/adorno.png"  />
				<img class="adornobottom" src="/images/adorno.png" />
				<h1>Follow Keywords</h1>
				<p>La forma más fácil de hacer crecer comunidades en Twitter  para usuarios y marcas.
					De manera segura y segmentada</p>
				
				<img class="pet" src="/images/follower.png"/>
			</div>
			
			
			
			<div id="clientes" class="limited">
				<h2>Nuestros Clientes</h2>
				<img src="/images/clientes.png" />
			</div>

