# encoding: UTF-8
		<!-- Pagina -->	
			
			<h1 class="limited">"Incrementa tus followers y genera engagement a través de palabras claves en Twitter."</h1>
			
			<div id="price-container">
				<div class="limited">
				<div class="box-price">
				<div class="price">
					<p class="price-name"> Plan de Crecimiento </p>
					<p class="price-money">$100.000</p>
					<p class="price-note">KeyWords</p>
					<a href="registro" >Try Now</a>
				</div>
				</div>
				<div class="box-price">
				<div class="price">
					<p class="price-name"> Plan de Crecimiento y Engagement </p>
					<p class="price-money">$200.000</p>
					<p class="price-note">KeyWords + Tweets Automáticos </p>
					<a href="registro" >Try Now</a>
				</div>
				</div>
				</div>
			</div>
			
			<h1 id="parrafo" class="limited">"La forma más fácil de encontrar followers de mayor conversión a hacer clientes."</h1>
			
			<div id="try-now">
				<div class="limited">
				"Empieza ahora Gratis." <br/><br/>
				<a href="registro" >Try Now</a>
				</div>
			</div>

		
