# encoding: UTF-8

		<!-- Pagina -->
		<div class="tour">
		<h1 class="limited">"Puedes hacer esto."</h1>
		<h2 class="limited">"y de esa forma lograr esto." </h2>
		<img class="limited" src="/images/tour/tour01.png" />
		</div>
		
		<div class="tour">
		<h1 class="limited">"También puedes hacer esto."</h1>
		<h2 class="limited">"y así se logra aquello." </h2>
		<img class=" limited" src="/images/tour/tour02.png" />
		</div>
		
		<div id="try-now">
			<div class="limited">
			"Empieza ahora Gratis." <br/><br/>
			<a href="bot" >Try Now</a>
			</div>
		</div>
	