<% provide(:title, 'Nuevo FollowKeyword') %>
<div class="center hero-unit">
  	<h1>Nuevo Followkeyword</h1>
	<%= render "layouts/menu" %>

	<% if flash[:error] %>
      	<div class="mensajes_error">
      		<p><%= flash[:error] %><p>
      	</div>
    <% end %>
  	<p>Debes autorizar al Followkeyword con la cuenta que deseas ganar mas seguidores para poder continuar</p>
  	<%= link_to "Autorizar Twitter", "/auth/twitter", class: "btn btn-large btn-primary" %>
</div>